body{
	background-color:#2a7598;
}
.alert {
    padding: 20px;
    background-color: #0895D6;
    color: white;
    margin-bottom: 15px;
	background:url(https://amxx.pl/public/style_images/tctc91_luminous/_custom/sprite_backgrounds.png) repeat-x, url(https://amxx.pl/public/style_images/tctc91_luminous/_custom/maintitle_effect_middle.png) no-repeat;
}

.header {
    padding: 20px;
    background-color: #0895D6;
    color: white;
    margin-bottom: 15px;
	background:url(https://amxx.pl/public/style_images/tctc91_luminous/_custom/sprite_backgrounds.png) repeat-x, url(https://amxx.pl/public/style_images/tctc91_luminous/_custom/maintitle_effect_middle.png) no-repeat;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

div.std {
    width:800px;
    margin: auto;
}

body{
	background-color:#2a7598;
}
.alert {
    padding: 20px;
    background-color: #0895D6;
    color: white;
    margin-bottom: 15px;
	background:url(https://amxx.pl/public/style_images/tctc91_luminous/_custom/sprite_backgrounds.png) repeat-x, url(https://amxx.pl/public/style_images/tctc91_luminous/_custom/maintitle_effect_middle.png) no-repeat;
}

.header {
    padding: 20px;
    background-color: #0895D6;
    color: white;
    margin-bottom: 15px;
	background:url(https://amxx.pl/public/style_images/tctc91_luminous/_custom/sprite_backgrounds.png) repeat-x, url(https://amxx.pl/public/style_images/tctc91_luminous/_custom/maintitle_effect_middle.png) no-repeat;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

div.std {
    width:800px;
    margin: auto;
}

h1 {
	color: #ffffff;
	font-family: 'Trocchi', serif;
	font-size: 30px;
	font-weight: normal;
	line-height: 30px;
	margin: 0;
}


h2 {
	color: #ffffff;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 28px;
	font-weight: 400;
	line-height: 32px;
	margin: 0 0 24px;
}


h2 {
	color: #7c795d;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 28px;
	font-weight: 400;
	line-height: 32px;
	margin: 0 0 24px;
}

a {
	color:red;
}


pre{
	background-color:#236f92;
}

footer {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 11px;
	text-align: center
}
.butt {
	width: 20%;
	position: relative;
	float: right;
}